body {
  background: #f9f9f9;
  -webkit-transition: background 1s;
  -moz-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s;
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue;
}

div.wrapper {
  width: 600px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

div#header {
  position: relative;
  width: 100%;
}
div#header div.bar {
  position: relative;
  width: 100%;
  /*
  top:0;
  left:0;
  height:100%;
  @include background(linear-gradient(#1d2144 5%, #43366e 22%, #4b6095 33%, #1a95ab 51%, #00ffc8));
  */
}
div#header div#bar1 {
  background: #1d2144;
  height: 20px;
}
div#header div#bar2 {
  background: #43366e;
  height: 30px;
}
div#header div#bar3 {
  background: #4b6095;
  height: 46px;
}
div#header div#bar4 {
  background: #1a95ab;
  height: 70px;
}
div#header div#bar5 {
  background: #00ffc8;
  height: 106px;
}

div.bar {
  box-sizing: border-box;
  padding: 2px;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 18px;
  font-weight: lighter;
  border-left: 3px solid #999;
  padding-left: 6px;
}

div#bar1 {
  background: #1d2144;
  padding: 5px;
  color: #fff;
}

div#bar2 {
  background: #43366e;
}

div#bar3 {
  background: #4b6095;
}

div#bar4 {
  background: #1a95ab;
}

div#bar5 {
  background: #00ffc8;
}

div#content {
  margin-top: 20px;
}
div#content p {
  color: #333;
  font-size: 16px;
}
div#content ol, div#content ul {
  margin: 0;
  padding: 0;
}
div#content ol li, div#content ul li {
  color: #999;
  font-size: 13px;
  margin-bottom: 5px;
}
div#content ol li p, div#content ul li p {
  font-size: 16px;
  color: #333;
  margin: 0;
}
div#content ul {
  list-style: square;
}
div#content ul li {
  font-size: 16px;
}
div#content a {
  text-decoration: none;
  color: #333;
  border-bottom: 1px dashed #999;
}
div#content a:hover {
  background: #ffc;
  text-decoration: dashed;
}

div.square {
  float: left;
  width: 50%;
  height: 100px;
  cursor: pointer;
}
div.square:hover {
  background: white;
}

p {
  line-height: 140%;
}

p#sentence {
  position: relative;
}
p#sentence.invisible {
  color: #f0f0f0;
}
p#sentence span {
  -webkit-transition: -webkit-transform 1000ms ease-in-out;
  -moz-transition: -moz-transform 1000ms ease-in-out;
  -o-transition: -o-transform 1000ms ease-in-out;
  transition: transform 1000ms ease-in-out;
}
