body {
  background: #f9f9f9;
  -webkit-transition: background 1s;
  -moz-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s;
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue;
}

div.wrapper {
  width: 640px;
  margin: 0 auto;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

div#header {
  position: relative;
  width: 100%;
}
div#header div.bar {
  position: relative;
  width: 100%;
  /*
  top:0;
  left:0;
  height:100%;
  @include background(linear-gradient(#1d2144 5%, #43366e 22%, #4b6095 33%, #1a95ab 51%, #00ffc8));
  */
}
div#header div#bar1 {
  background: #1d2144;
  height: 20px;
}
div#header div#bar2 {
  background: #43366e;
  height: 30px;
}
div#header div#bar3 {
  background: #4b6095;
  height: 46px;
}
div#header div#bar4 {
  background: #1a95ab;
  height: 70px;
}
div#header div#bar5 {
  background: #00ffc8;
  height: 106px;
}

div.bar {
  box-sizing: border-box;
  padding: 2px;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 18px;
  font-weight: lighter;
}

div#bar1 {
  background: #03003B;
  padding: 5px;
  color: #fff;
}

div#bar2 {
  background: #43366e;
}

div#bar3 {
  background: #4b6095;
}

div#bar4 {
  background: #1a95ab;
}

div#bar5 {
  background: #00ffc8;
}

div#content {
  margin-top: 20px;
  position: relative;
}
div#content p {
  color: #333;
  font-size: 16px;
}
div#content a {
  text-decoration: none;
  color: #333;
  border-bottom: 1px dashed #999;
}
div#content a:hover {
  background: #ffc;
  text-decoration: dashed;
}

div.square {
  float: left;
  width: 50%;
  height: 100px;
  cursor: pointer;
}
div.square:hover {
  background: white;
}

p {
  line-height: 140%;
  z-index: 1;
}

p#sentence {
  position: relative;
}
p#sentence.invisible {
  color: #f0f0f0;
}
p#sentence span {
  -webkit-transform: translate(0, 500px) scale(1);
  -moz-transform: translate(0, 500px) scale(1);
  -ms-transform: translate(0, 500px) scale(1);
  -o-transform: translate(0, 500px) scale(1);
  transform: translate(0, 500px) scale(1);
}
p#sentence span.plain {
  -webkit-transform: translate(0, 0) scale(1);
  -moz-transform: translate(0, 0) scale(1);
  -ms-transform: translate(0, 0) scale(1);
  -o-transform: translate(0, 0) scale(1);
  transform: translate(0, 0) scale(1);
}
p#sentence span.thing {
  -webkit-animation: bounce 2s;
  -webkit-animation-fill-mode: both;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-animation-timing-function: ease-in;
  }

  20% {
    -webkit-transform: translate(0px, 500px);
    -moz-transform: translate(0px, 500px);
    -ms-transform: translate(0px, 500px);
    -o-transform: translate(0px, 500px);
    transform: translate(0px, 500px);
    -webkit-animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: translate(0px, 250px);
    -moz-transform: translate(0px, 250px);
    -ms-transform: translate(0px, 250px);
    -o-transform: translate(0px, 250px);
    transform: translate(0px, 250px);
    -webkit-animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: translate(0px, 500px);
    -moz-transform: translate(0px, 500px);
    -ms-transform: translate(0px, 500px);
    -o-transform: translate(0px, 500px);
    transform: translate(0px, 500px);
    -webkit-animation-timing-function: ease-out;
  }

  80% {
    -webkit-transform: translate(0px, 375px);
    -moz-transform: translate(0px, 375px);
    -ms-transform: translate(0px, 375px);
    -o-transform: translate(0px, 375px);
    transform: translate(0px, 375px);
    -webkit-animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

@-moz-keyframes bounce {
  0% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-animation-timing-function: ease-in;
  }

  20% {
    -webkit-transform: translate(0px, 500px);
    -moz-transform: translate(0px, 500px);
    -ms-transform: translate(0px, 500px);
    -o-transform: translate(0px, 500px);
    transform: translate(0px, 500px);
    -webkit-animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: translate(0px, 250px);
    -moz-transform: translate(0px, 250px);
    -ms-transform: translate(0px, 250px);
    -o-transform: translate(0px, 250px);
    transform: translate(0px, 250px);
    -webkit-animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: translate(0px, 500px);
    -moz-transform: translate(0px, 500px);
    -ms-transform: translate(0px, 500px);
    -o-transform: translate(0px, 500px);
    transform: translate(0px, 500px);
    -webkit-animation-timing-function: ease-out;
  }

  80% {
    -webkit-transform: translate(0px, 375px);
    -moz-transform: translate(0px, 375px);
    -ms-transform: translate(0px, 375px);
    -o-transform: translate(0px, 375px);
    transform: translate(0px, 375px);
    -webkit-animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

@-ms-keyframes bounce {
  0% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-animation-timing-function: ease-in;
  }

  20% {
    -webkit-transform: translate(0px, 500px);
    -moz-transform: translate(0px, 500px);
    -ms-transform: translate(0px, 500px);
    -o-transform: translate(0px, 500px);
    transform: translate(0px, 500px);
    -webkit-animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: translate(0px, 250px);
    -moz-transform: translate(0px, 250px);
    -ms-transform: translate(0px, 250px);
    -o-transform: translate(0px, 250px);
    transform: translate(0px, 250px);
    -webkit-animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: translate(0px, 500px);
    -moz-transform: translate(0px, 500px);
    -ms-transform: translate(0px, 500px);
    -o-transform: translate(0px, 500px);
    transform: translate(0px, 500px);
    -webkit-animation-timing-function: ease-out;
  }

  80% {
    -webkit-transform: translate(0px, 375px);
    -moz-transform: translate(0px, 375px);
    -ms-transform: translate(0px, 375px);
    -o-transform: translate(0px, 375px);
    transform: translate(0px, 375px);
    -webkit-animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-animation-timing-function: ease-in;
  }

  20% {
    -webkit-transform: translate(0px, 500px);
    -moz-transform: translate(0px, 500px);
    -ms-transform: translate(0px, 500px);
    -o-transform: translate(0px, 500px);
    transform: translate(0px, 500px);
    -webkit-animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: translate(0px, 250px);
    -moz-transform: translate(0px, 250px);
    -ms-transform: translate(0px, 250px);
    -o-transform: translate(0px, 250px);
    transform: translate(0px, 250px);
    -webkit-animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: translate(0px, 500px);
    -moz-transform: translate(0px, 500px);
    -ms-transform: translate(0px, 500px);
    -o-transform: translate(0px, 500px);
    transform: translate(0px, 500px);
    -webkit-animation-timing-function: ease-out;
  }

  80% {
    -webkit-transform: translate(0px, 375px);
    -moz-transform: translate(0px, 375px);
    -ms-transform: translate(0px, 375px);
    -o-transform: translate(0px, 375px);
    transform: translate(0px, 375px);
    -webkit-animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

@-webkit-keyframes first-column {
  0% {
    background: #fa549a;
  }

  25% {
    background: #71DF9F;
  }

  50% {
    background: #fad39a;
  }

  75% {
    background: #2E4FFF;
  }

  100% {
    background: #fa549a;
  }
}

@-moz-keyframes first-column {
  0% {
    background: #fa549a;
  }

  25% {
    background: #71DF9F;
  }

  50% {
    background: #fad39a;
  }

  75% {
    background: #2E4FFF;
  }

  100% {
    background: #fa549a;
  }
}

@-ms-keyframes first-column {
  0% {
    background: #fa549a;
  }

  25% {
    background: #71DF9F;
  }

  50% {
    background: #fad39a;
  }

  75% {
    background: #2E4FFF;
  }

  100% {
    background: #fa549a;
  }
}

@keyframes first-column {
  0% {
    background: #fa549a;
  }

  25% {
    background: #71DF9F;
  }

  50% {
    background: #fad39a;
  }

  75% {
    background: #2E4FFF;
  }

  100% {
    background: #fa549a;
  }
}

@-webkit-keyframes second-column {
  0% {
    background: #fad39a;
  }

  25% {
    background: #90DE9E;
  }

  50% {
    background: #0095FC;
  }

  75% {
    background: #8900E3;
  }

  100% {
    background: #fad39a;
  }
}

@-moz-keyframes second-column {
  0% {
    background: #fad39a;
  }

  25% {
    background: #90DE9E;
  }

  50% {
    background: #0095FC;
  }

  75% {
    background: #8900E3;
  }

  100% {
    background: #fad39a;
  }
}

@-ms-keyframes second-column {
  0% {
    background: #fad39a;
  }

  25% {
    background: #90DE9E;
  }

  50% {
    background: #0095FC;
  }

  75% {
    background: #8900E3;
  }

  100% {
    background: #fad39a;
  }
}

@keyframes second-column {
  0% {
    background: #fad39a;
  }

  25% {
    background: #90DE9E;
  }

  50% {
    background: #0095FC;
  }

  75% {
    background: #8900E3;
  }

  100% {
    background: #fad39a;
  }
}

@-webkit-keyframes third-column {
  0% {
    background: #42dba1;
  }

  25% {
    background: #00A9E7;
  }

  50% {
    background: #B800C7;
  }

  75% {
    background: #FFBE95;
  }

  100% {
    background: #42dba1;
  }
}

@-moz-keyframes third-column {
  0% {
    background: #42dba1;
  }

  25% {
    background: #00A9E7;
  }

  50% {
    background: #B800C7;
  }

  75% {
    background: #FFBE95;
  }

  100% {
    background: #42dba1;
  }
}

@-ms-keyframes third-column {
  0% {
    background: #42dba1;
  }

  25% {
    background: #00A9E7;
  }

  50% {
    background: #B800C7;
  }

  75% {
    background: #FFBE95;
  }

  100% {
    background: #42dba1;
  }
}

@keyframes third-column {
  0% {
    background: #42dba1;
  }

  25% {
    background: #00A9E7;
  }

  50% {
    background: #B800C7;
  }

  75% {
    background: #FFBE95;
  }

  100% {
    background: #42dba1;
  }
}

@-webkit-keyframes fourth-column {
  0% {
    background: #0095ff;
  }

  25% {
    background: #6300FD;
  }

  50% {
    background: #FF8194;
  }

  75% {
    background: #00E3A3;
  }

  100% {
    background: #0095ff;
  }
}

@-moz-keyframes fourth-column {
  0% {
    background: #0095ff;
  }

  25% {
    background: #6300FD;
  }

  50% {
    background: #FF8194;
  }

  75% {
    background: #00E3A3;
  }

  100% {
    background: #0095ff;
  }
}

@-ms-keyframes fourth-column {
  0% {
    background: #0095ff;
  }

  25% {
    background: #6300FD;
  }

  50% {
    background: #FF8194;
  }

  75% {
    background: #00E3A3;
  }

  100% {
    background: #0095ff;
  }
}

@keyframes fourth-column {
  0% {
    background: #0095ff;
  }

  25% {
    background: #6300FD;
  }

  50% {
    background: #FF8194;
  }

  75% {
    background: #00E3A3;
  }

  100% {
    background: #0095ff;
  }
}

@-webkit-keyframes fifth-column {
  0% {
    background: #3913ff;
  }

  25% {
    background: #FF1897;
  }

  50% {
    background: #FFA994;
  }

  75% {
    background: #00C6C8;
  }

  100% {
    background: #3913ff;
  }
}

@-moz-keyframes fifth-column {
  0% {
    background: #3913ff;
  }

  25% {
    background: #FF1897;
  }

  50% {
    background: #FFA994;
  }

  75% {
    background: #00C6C8;
  }

  100% {
    background: #3913ff;
  }
}

@-ms-keyframes fifth-column {
  0% {
    background: #3913ff;
  }

  25% {
    background: #FF1897;
  }

  50% {
    background: #FFA994;
  }

  75% {
    background: #00C6C8;
  }

  100% {
    background: #3913ff;
  }
}

@keyframes fifth-column {
  0% {
    background: #3913ff;
  }

  25% {
    background: #FF1897;
  }

  50% {
    background: #FFA994;
  }

  75% {
    background: #00C6C8;
  }

  100% {
    background: #3913ff;
  }
}

@-webkit-keyframes fadeout {
  from {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -moz-function-timing-function: ease-in;
    -webkit-function-timing-function: ease-in;
    -ms-function-timing-function: ease-in;
    -o-function-timing-function: ease-in;
  }

  to {
    -webkit-transform: translate(0, 25px);
    -moz-transform: translate(0, 25px);
    -ms-transform: translate(0, 25px);
    -o-transform: translate(0, 25px);
    transform: translate(0, 25px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-function-timing-function: ease-out;
    -webkit-function-timing-function: ease-out;
    -ms-function-timing-function: ease-out;
    -o-function-timing-function: ease-out;
  }
}

@-moz-keyframes fadeout {
  from {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -moz-function-timing-function: ease-in;
    -webkit-function-timing-function: ease-in;
    -ms-function-timing-function: ease-in;
    -o-function-timing-function: ease-in;
  }

  to {
    -webkit-transform: translate(0, 25px);
    -moz-transform: translate(0, 25px);
    -ms-transform: translate(0, 25px);
    -o-transform: translate(0, 25px);
    transform: translate(0, 25px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-function-timing-function: ease-out;
    -webkit-function-timing-function: ease-out;
    -ms-function-timing-function: ease-out;
    -o-function-timing-function: ease-out;
  }
}

@-ms-keyframes fadeout {
  from {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -moz-function-timing-function: ease-in;
    -webkit-function-timing-function: ease-in;
    -ms-function-timing-function: ease-in;
    -o-function-timing-function: ease-in;
  }

  to {
    -webkit-transform: translate(0, 25px);
    -moz-transform: translate(0, 25px);
    -ms-transform: translate(0, 25px);
    -o-transform: translate(0, 25px);
    transform: translate(0, 25px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-function-timing-function: ease-out;
    -webkit-function-timing-function: ease-out;
    -ms-function-timing-function: ease-out;
    -o-function-timing-function: ease-out;
  }
}

@keyframes fadeout {
  from {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -moz-function-timing-function: ease-in;
    -webkit-function-timing-function: ease-in;
    -ms-function-timing-function: ease-in;
    -o-function-timing-function: ease-in;
  }

  to {
    -webkit-transform: translate(0, 25px);
    -moz-transform: translate(0, 25px);
    -ms-transform: translate(0, 25px);
    -o-transform: translate(0, 25px);
    transform: translate(0, 25px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-function-timing-function: ease-out;
    -webkit-function-timing-function: ease-out;
    -ms-function-timing-function: ease-out;
    -o-function-timing-function: ease-out;
  }
}

@-webkit-keyframes fadein {
  from {
    -webkit-transform: translate(0, 25px);
    -moz-transform: translate(0, 25px);
    -ms-transform: translate(0, 25px);
    -o-transform: translate(0, 25px);
    transform: translate(0, 25px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-function-timing-function: ease-in;
    -webkit-function-timing-function: ease-in;
    -ms-function-timing-function: ease-in;
    -o-function-timing-function: ease-in;
  }

  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -moz-function-timing-function: ease-out;
    -webkit-function-timing-function: ease-out;
    -ms-function-timing-function: ease-out;
    -o-function-timing-function: ease-out;
  }
}

@-moz-keyframes fadein {
  from {
    -webkit-transform: translate(0, 25px);
    -moz-transform: translate(0, 25px);
    -ms-transform: translate(0, 25px);
    -o-transform: translate(0, 25px);
    transform: translate(0, 25px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-function-timing-function: ease-in;
    -webkit-function-timing-function: ease-in;
    -ms-function-timing-function: ease-in;
    -o-function-timing-function: ease-in;
  }

  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -moz-function-timing-function: ease-out;
    -webkit-function-timing-function: ease-out;
    -ms-function-timing-function: ease-out;
    -o-function-timing-function: ease-out;
  }
}

@-ms-keyframes fadein {
  from {
    -webkit-transform: translate(0, 25px);
    -moz-transform: translate(0, 25px);
    -ms-transform: translate(0, 25px);
    -o-transform: translate(0, 25px);
    transform: translate(0, 25px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-function-timing-function: ease-in;
    -webkit-function-timing-function: ease-in;
    -ms-function-timing-function: ease-in;
    -o-function-timing-function: ease-in;
  }

  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -moz-function-timing-function: ease-out;
    -webkit-function-timing-function: ease-out;
    -ms-function-timing-function: ease-out;
    -o-function-timing-function: ease-out;
  }
}

@keyframes fadein {
  from {
    -webkit-transform: translate(0, 25px);
    -moz-transform: translate(0, 25px);
    -ms-transform: translate(0, 25px);
    -o-transform: translate(0, 25px);
    transform: translate(0, 25px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-function-timing-function: ease-in;
    -webkit-function-timing-function: ease-in;
    -ms-function-timing-function: ease-in;
    -o-function-timing-function: ease-in;
  }

  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -moz-function-timing-function: ease-out;
    -webkit-function-timing-function: ease-out;
    -ms-function-timing-function: ease-out;
    -o-function-timing-function: ease-out;
  }
}

div#screenshot-container {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  background: #f9f9f9;
  border: 2px solid #444;
  display: block;
  height: 140px;
  left: -210px;
  position: absolute;
  top: -140px;
  width: 200px;
  z-index: 0;
}
div#screenshot-container.fadein {
  -moz-animation: fadein 750ms 100ms forwards;
  -webkit-animation: fadein 750ms 100ms forwards;
  -ms-animation: fadein 750ms 100ms forwards;
  -o-animation: fadein 750ms 100ms forwards;
}
div#screenshot-container.fadeout {
  -moz-animation: fadeout 500ms forwards;
  -webkit-animation: fadeout 500ms forwards;
  -ms-animation: fadeout 500ms forwards;
  -o-animation: fadeout 500ms forwards;
}
div#screenshot-container img#screenshot {
  width: 200px;
  height: 140px;
  margin-top: 2px;
  z-index: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
div#screenshot-container div#arrow {
  margin: -7px auto 0;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 0;
  border-bottom: 5px solid #444;
}

div#changelog h3 {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0f1112), color-stop(100%, #4f5960));
  background: -webkit-linear-gradient(#0f1112, #4f5960);
  background: -moz-linear-gradient(#0f1112, #4f5960);
  background: -o-linear-gradient(#0f1112, #4f5960);
  background: linear-gradient(#0f1112, #4f5960);
  text-shadow: 1px 1px #444444;
  margin: 4px 0 2px;
  padding: 2px 4px;
  display: inline-block;
  color: white;
  font-family: Courier;
  font-size: 14px;
  font-weight: normal;
}
div#changelog h3 a {
  color: white;
  text-decoration: none;
  border: none;
}
div#changelog h3 a:hover {
  color: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0f1112), color-stop(100%, #4f5960));
  background: -webkit-linear-gradient(#0f1112, #4f5960);
  background: -moz-linear-gradient(#0f1112, #4f5960);
  background: -o-linear-gradient(#0f1112, #4f5960);
  background: linear-gradient(#0f1112, #4f5960);
}
div#changelog div.group h2 {
  margin-top: 15px;
}
div#changelog div.group:first-child h2 {
  margin-top: 0;
}
div#changelog div.group div.commit {
  margin: 4px 0;
}
div#changelog div.group div.commit h4 {
  font-size: 13px;
  font-weight: normal;
}
div#changelog div.group div.commit p {
  margin: 4px 0 0;
  font-size: 12px;
  line-height: 14px;
  color: #333;
}
div#changelog div.group div.commit a {
  font-family: Courier;
  font-weight: bold;
  text-decoration: none;
  border: none;
}

div.css-logo {
  height: 50px;
  width: 341px;
  background: url('../img/word-mark-50.png?1362117264') 60px no-repeat #05003a;
  overflow: hidden;
  position: relative;
  margin: 15px auto;
}
div.css-logo > div.black-rounded-container > div.black-rounded {
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  background: #05003a;
  width: 10px;
  height: 10px;
  position: absolute;
  z-index: 1;
}
div.css-logo > div.black-rounded-container > div.black-rounded:nth-child(1) {
  top: 10px;
  left: 10px;
}
div.css-logo > div.black-rounded-container > div.black-rounded:nth-child(2) {
  top: 30px;
  left: 30px;
}
div.css-logo > div.black-gradient-container > div.black-gradient {
  width: 10px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #05003a), color-stop(35%, transparent));
  background: -webkit-linear-gradient(#05003a, transparent 35%);
  background: -moz-linear-gradient(#05003a, transparent 35%);
  background: -o-linear-gradient(#05003a, transparent 35%);
  background: linear-gradient(#05003a, transparent 35%);
  position: absolute;
  top: 0;
  z-index: 2;
}
div.css-logo > div.black-gradient-container > div.black-gradient:nth-child(1) {
  height: 10px;
}
div.css-logo > div.black-gradient-container > div.black-gradient:nth-child(2) {
  left: 10px;
  height: 20px;
}
div.css-logo > div.black-gradient-container > div.black-gradient:nth-child(3) {
  left: 20px;
  height: 30px;
}
div.css-logo > div.black-gradient-container > div.black-gradient:nth-child(4) {
  left: 30px;
  height: 40px;
}
div.css-logo > div.black-gradient-container > div.black-gradient:nth-child(5) {
  left: 40px;
  height: 50px;
}
div.css-logo > div.color-column-container {
  position: relative;
}
div.css-logo > div.color-column-container > div.color-column {
  width: 10px;
  position: absolute;
  top: 0;
  z-index: 0;
}
div.css-logo > div.color-column-container > div.color-column:nth-child(odd) {
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
div.css-logo > div.color-column-container > div.color-column:nth-child(1) {
  -moz-animation: first-column 5s infinite ease-in-out;
  -webkit-animation: first-column 5s infinite ease-in-out;
  -ms-animation: first-column 5s infinite ease-in-out;
  -o-animation: first-column 5s infinite ease-in-out;
  height: 10px;
}
div.css-logo > div.color-column-container > div.color-column:nth-child(2) {
  -moz-animation: second-column 5s -200ms infinite ease-in-out;
  -webkit-animation: second-column 5s -200ms infinite ease-in-out;
  -ms-animation: second-column 5s -200ms infinite ease-in-out;
  -o-animation: second-column 5s -200ms infinite ease-in-out;
  left: 10px;
  height: 20px;
}
div.css-logo > div.color-column-container > div.color-column:nth-child(3) {
  -moz-animation: third-column 5s -400ms infinite ease-in-out;
  -webkit-animation: third-column 5s -400ms infinite ease-in-out;
  -ms-animation: third-column 5s -400ms infinite ease-in-out;
  -o-animation: third-column 5s -400ms infinite ease-in-out;
  left: 20px;
  height: 30px;
}
div.css-logo > div.color-column-container > div.color-column:nth-child(4) {
  -moz-animation: fourth-column 5s -600ms infinite ease-in-out;
  -webkit-animation: fourth-column 5s -600ms infinite ease-in-out;
  -ms-animation: fourth-column 5s -600ms infinite ease-in-out;
  -o-animation: fourth-column 5s -600ms infinite ease-in-out;
  left: 30px;
  height: 40px;
}
div.css-logo > div.color-column-container > div.color-column:nth-child(5) {
  -moz-animation: fifth-column 5s -800ms infinite ease-in-out;
  -webkit-animation: fifth-column 5s -800ms infinite ease-in-out;
  -ms-animation: fifth-column 5s -800ms infinite ease-in-out;
  -o-animation: fifth-column 5s -800ms infinite ease-in-out;
  left: 40px;
  height: 50px;
}

div.clear {
  clear: both;
}
