@import 'compass/css3';

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation($animation) {
  -moz-animation: $animation;
  -webkit-animation: $animation;
  -ms-animation: $animation;
  -o-animation: $animation;
}

@mixin animation-timing-function($function) {
  -moz-function-timing-function: $function;
  -webkit-function-timing-function: $function;
  -ms-function-timing-function: $function;
  -o-function-timing-function: $function;
}

@mixin animation-fill-mode($mode) {
  -moz-mode-fill-mode: $mode;
  -webkit-mode-fill-mode: $mode;
  -ms-mode-fill-mode: $mode;
  -o-mode-fill-mode: $mode;
}

body {
  background:#f9f9f9;
  @include transition(background 1s);
  padding:0;
  margin:0;
  font-family: Helvetica Neue;
}

div.wrapper {
  width:640px;
  margin:0 auto;
  position:relative;
}

h1, h2, h3, h4, h5, h6 {
  padding:0;
  margin:0;
}

div#header {
  position:relative;
  width:100%;

  div.bar {
    position:relative;
    width:100%;
    /*
    top:0;
    left:0;
    height:100%;
    @include background(linear-gradient(#1d2144 5%, #43366e 22%, #4b6095 33%, #1a95ab 51%, #00ffc8));
    */
  }

  div#bar1 {
    background:#1d2144;
    height:20px;
  }

  div#bar2 {
    background:#43366e;
    height:30px;
  }

  div#bar3 {
    background:#4b6095;
    height:46px;
  }

  div#bar4 {
    background:#1a95ab;
    height:70px;
  }

  div#bar5 {
    background:#00ffc8;
    height:106px;
  }
}

div.bar {
  box-sizing:border-box;
  padding:2px;
}

h1 {
  font-size:25px;
}

h2 {
  font-size:18px;
  font-weight:lighter;
}

div#bar1 {
  // @include background(radial-gradient(color-stops(#55f7ca, #238e9f, #446791, #3c3f6b, #172541), top left));
  background:#03003B;
  padding:5px;
  color:#fff;
}

div#bar2 {
  background:#43366e;
}

div#bar3 {
  background:#4b6095;
}

div#bar4 {
  background:#1a95ab;
}

div#bar5 {
  background:#00ffc8;
}

div#content {
  margin-top:20px;
  position:relative;

  p {
    color:#333;
    font-size:16px;
  }

  a {
    text-decoration:none;
    color:#333;
    border-bottom:1px dashed #999;

    &.twitter {
      @include background(image-url("bird_blue_16.png") no-repeat);
      width:16px;
      height:11px;
      border-bottom:none;
      display:inline-block;

      &:hover {
        @include background(image-url("bird_black_16_0.png") no-repeat);
      }
    }

    &:hover {
      // cursor:wait;
      background:#ffc;
      text-decoration:dashed;
    }
  }
}

div.square {
  float:left;
  width:50%;
  height:100px;
  cursor:pointer;

  &:hover {
    background:white;
  }
}

p {
  line-height: 140%;
  z-index:1;
}

p#sentence {
  position:relative;

  &.invisible {
    color: #f0f0f0;
  }

  span {
    // @include transition(transform 2000ms ease-in-out);
    @include transform(translate(0, 500px) scale(1));

    &.plain {
      @include transform(translate(0, 0) scale(1));
    }

    &.thing {
      -webkit-animation: bounce 2s;
      -webkit-animation-fill-mode: both;
    }
  }
}

@include keyframes(bounce) {
  0% {
    @include transform(translate(0px, 0px));
    -webkit-animation-timing-function: ease-in;
  }
  20% {
    @include transform(translate(0px, 500px));
    -webkit-animation-timing-function: ease-out;
  }
  40% {
    @include transform(translate(0px, 250px));
    -webkit-animation-timing-function: ease-in;
  }
  60% {
    @include transform(translate(0px, 500px));
    -webkit-animation-timing-function: ease-out;
  }
  80% {
    @include transform(translate(0px, 375px));
    -webkit-animation-timing-function: ease-in;
  }
  100% {
    @include transform(translate(0px, 0px));
  }
}

@include keyframes(first-column) {
  0% { background:#fa549a; }
  25% { background:#71DF9F; }
  50% { background:#fad39a; }
  75% { background:#2E4FFF; }
  100% { background:#fa549a; }
}

@include keyframes(second-column) {
  0% { background:#fad39a; }
  25% { background:#90DE9E; }
  50% { background:#0095FC; }
  75% { background:#8900E3; }
  100% { background:#fad39a; }
}

@include keyframes(third-column) {
  0% { background:#42dba1; }
  25% { background:#00A9E7; }
  50% { background:#B800C7; }
  75% { background:#FFBE95; }
  100% { background:#42dba1; }
}

@include keyframes(fourth-column) {
  0% { background:#0095ff; }
  25% { background:#6300FD; }
  50% { background:#FF8194; }
  75% { background:#00E3A3; }
  100% { background:#0095ff; }
}

@include keyframes(fifth-column) {
  0% { background:#3913ff; }
  25% { background:#FF1897; }
  50% { background:#FFA994; }
  75% { background:#00C6C8; }
  100% { background:#3913ff; }
}

@include keyframes(fadeout) {
  from {
    @include transform(translate(0, 0));
    @include opacity(1);
    @include animation-timing-function(ease-in);
  }

  to {
    @include transform(translate(0, 25px));
    @include opacity(0);
    @include animation-timing-function(ease-out);
  }
}

@include keyframes(fadein) {
  from {
    @include transform(translate(0, 25px));
    @include opacity(0);
    @include animation-timing-function(ease-in);
  }

  to {
    @include transform(translate(0, 0));
    @include opacity(1);
    @include animation-timing-function(ease-out);
  }
}

div#screenshot-container {
  @include border-radius(5px);
  @include opacity(0);
  background:#f9f9f9;
  border:2px solid #444;
  display:block;
  height:140px;
  left:-210px;
  position:absolute;
  top:-140px;
  width:200px;
  z-index:0;

  &.fadein {
    @include animation(fadein 750ms 100ms forwards);
  }

  &.fadeout {
    @include animation(fadeout 500ms forwards);
  }

  img#screenshot {
    width:200px;
    height:140px;
    margin-top:2px;
    z-index:0;
    @include border-radius(3px);
  }

  div#arrow {
    margin:-7px auto 0;
    width:0;
    height:0;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:0;
    border-bottom:5px solid #444;
  }
}

div#changelog {
  h3 {
    @include border-radius(4px);
    @include background(linear-gradient(#0F1112, #4F5960));
    @include text-shadow(1px 1px #444);
    margin:4px 0 2px;
    padding:2px 4px;
    display:inline-block;
    color:white;
    font-family: Courier;
    font-size:14px;
    font-weight:normal;

    a {
      color:white;
      text-decoration:none;
      border:none;

      &:hover {
        color:white;
        @include background(linear-gradient(#0F1112, #4F5960));
      }
    }
  }

  div.group {
    h2 {
      margin-top:15px;
    }

    &:first-child {
      h2 {
        margin-top:0;
      }
    }

    p {
    }

    div.commit {
      margin:4px 0;

      h4 {
        font-size:13px;
        font-weight:normal;
      }

      p {
        margin:4px 0 0;
        font-size:12px;
        line-height:14px;
        color:#333;
      }

      a {
        font-family:Courier;
        font-weight:bold;
        text-decoration:none;
        border:none;
      }
    }
  }
}

$unit: 10px;
div.css-logo {
  height:5 * $unit;
  width:10px + 281px + 5 * $unit;
  @include background(image-url("word-mark-50.png") 5*$unit+10 no-repeat #05003a);
  overflow:hidden;
  position:relative;
  margin:15px auto;

  > div.black-rounded-container {
    > div.black-rounded {
      @include border-top-right-radius($unit);
      background:#05003a;
      width:$unit;
      height:$unit;
      position:absolute;
      z-index:1;

      &:nth-child(1) {
        top:$unit;
        left:$unit;
      }

      &:nth-child(2) {
        top:3*$unit;
        left:3*$unit;
      }
    }
  }

  > div.black-gradient-container {
    > div.black-gradient {
      width:$unit;
      @include background(linear-gradient(#05003a, transparent 35%));
      position:absolute;
      top:0;
      z-index:2;

      &:nth-child(1) {
        height:$unit;
      }

      &:nth-child(2) {
        left:$unit;
        height:2*$unit;
      }

      &:nth-child(3) {
        left:2*$unit;
        height:3*$unit;
      }

      &:nth-child(4) {
        left:3*$unit;
        height:4*$unit;
      }

      &:nth-child(5) {
        left:4*$unit;
        height:5*$unit;
      }
    }
  }

  > div.color-column-container {
    position:relative;

    > div.color-column {
      width:$unit;
      position:absolute;
      top:0;
      z-index:0;

      &:nth-child(odd) {
        @include border-bottom-left-radius($unit);
      }

      &:nth-child(1) {
        @include animation(first-column 5s infinite ease-in-out);
        height:$unit;
      }

      &:nth-child(2) {
        @include animation(second-column 5s -200ms infinite ease-in-out);
        left:$unit;
        height:2*$unit;
      }

      &:nth-child(3) {
        @include animation(third-column 5s -400ms infinite ease-in-out);
        left:2*$unit;
        height:3*$unit;
      }

      &:nth-child(4) {
        @include animation(fourth-column 5s -600ms infinite ease-in-out);
        left:3*$unit;
        height:4*$unit;
      }

      &:nth-child(5) {
        @include animation(fifth-column 5s -800ms infinite ease-in-out);
        left:4*$unit;
        height:5*$unit;
      }
    }
  }
}

div.clear {
  clear:both;
}

