@import 'compass/css3';

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation($animation) {
  -moz-animation: $animation;
  -webkit-animation: $animation;
  -ms-animation: $animation;
  -o-animation: $animation;
}

@mixin animation-timing-function($function) {
  -moz-function-timing-function: $function;
  -webkit-function-timing-function: $function;
  -ms-function-timing-function: $function;
  -o-function-timing-function: $function;
}

@mixin animation-fill-mode($mode) {
  -moz-mode-fill-mode: $mode;
  -webkit-mode-fill-mode: $mode;
  -ms-mode-fill-mode: $mode;
  -o-mode-fill-mode: $mode;
}

body {
  background:#f9f9f9;
  @include transition(background 1s);
  padding:0;
  margin:0;
  font-family: Helvetica Neue;
}

div.wrapper {
  width:640px;
  margin:0 auto;
  position:relative;
}

h1, h2, h3, h4, h5, h6 {
  padding:0;
  margin:0;
}

div#header {
  position:relative;
  width:100%;

  div.bar {
    position:relative;
    width:100%;
    /*
    top:0;
    left:0;
    height:100%;
    @include background(linear-gradient(#1d2144 5%, #43366e 22%, #4b6095 33%, #1a95ab 51%, #00ffc8));
    */
  }

  div#bar1 {
    background:#1d2144;
    height:20px;
  }

  div#bar2 {
    background:#43366e;
    height:30px;
  }

  div#bar3 {
    background:#4b6095;
    height:46px;
  }

  div#bar4 {
    background:#1a95ab;
    height:70px;
  }

  div#bar5 {
    background:#00ffc8;
    height:106px;
  }
}

div.bar {
  box-sizing:border-box;
  padding:2px;
}

h1 {
  font-size:25px;
}

h2 {
  font-size:18px;
  font-weight:lighter;
  border-left:3px solid #999;
  padding-left:6px;
}

div#bar1 {
  // @include background(radial-gradient(color-stops(#55f7ca, #238e9f, #446791, #3c3f6b, #172541), top left));
  background:#1d2144;
  padding:5px;
  color:#fff;
}

div#bar2 {
  background:#43366e;
}

div#bar3 {
  background:#4b6095;
}

div#bar4 {
  background:#1a95ab;
}

div#bar5 {
  background:#00ffc8;
}

div#content {
  margin-top:20px;
  position:relative;

  p {
    color:#333;
    font-size:16px;
  }

  ol, ul {
    margin:0;
    padding:0;

    li {
      color:#999;
      font-size:13px;
      margin-bottom:5px;

      p {
        font-size:16px;
        color:#333;
        margin:0;
      }
    }
  }

  ul {
    list-style:square;

    li {
      font-size:16px;
    }
  }

  a {
    text-decoration:none;
    color:#333;
    border-bottom:1px dashed #999;

    &:hover {
      // cursor:wait;
      background:#ffc;
      text-decoration:dashed;
    }
  }
}

div.square {
  float:left;
  width:50%;
  height:100px;
  cursor:pointer;

  &:hover {
    background:white;
  }
}

p {
  line-height: 140%;
  z-index:1;
}

p#sentence {
  position:relative;

  &.invisible {
    color: #f0f0f0;
  }

  span {
    // @include transition(transform 2000ms ease-in-out);
    @include transform(translate(0, 500px) scale(1));

    &.plain {
      @include transform(translate(0, 0) scale(1));
    }

    &.thing {
      -webkit-animation: bounce 2s;
      -webkit-animation-fill-mode: both;
    }
  }
}

@include keyframes(bounce) {
  0% {
    @include transform(translate(0px, 0px));
    -webkit-animation-timing-function: ease-in;
  }
  20% {
    @include transform(translate(0px, 500px));
    -webkit-animation-timing-function: ease-out;
  }
  40% {
    @include transform(translate(0px, 250px));
    -webkit-animation-timing-function: ease-in;
  }
  60% {
    @include transform(translate(0px, 500px));
    -webkit-animation-timing-function: ease-out;
  }
  80% {
    @include transform(translate(0px, 375px));
    -webkit-animation-timing-function: ease-in;
  }
  100% {
    @include transform(translate(0px, 0px));
  }
}

@include keyframes(fadeout) {
  from {
    @include transform(translate(0, 0));
    @include opacity(1);
    @include animation-timing-function(ease-in);
  }

  to {
    @include transform(translate(0, 25px));
    @include opacity(0);
    @include animation-timing-function(ease-out);
  }
}

@include keyframes(fadein) {
  from {
    @include transform(translate(0, 25px));
    @include opacity(0);
    @include animation-timing-function(ease-in);
  }

  to {
    @include transform(translate(0, 0));
    @include opacity(1);
    @include animation-timing-function(ease-out);
  }
}

div#screenshot-container {
  @include border-radius(5px);
  @include opacity(0);
  background:#f9f9f9;
  border:2px solid #444;
  display:block;
  height:140px;
  left:-200px;
  position:absolute;
  top:-140px;
  width:200px;
  z-index:0;

  &.fadein {
    @include animation(fadein 750ms 500ms forwards);
  }

  &.fadeout {
    @include animation(fadeout 500ms forwards);
  }

  img#screenshot {
    width:200px;
    height:140px;
    margin-top:2px;
    z-index:0;
    @include border-radius(3px);
  }

  div#arrow {
    margin:-7px auto 0;
    width:0;
    height:0;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:0;
    border-bottom:5px solid #444;
  }
}
