<!doctype>
<html>
  <head>
    <title>Aurora</title>
    <meta name="title" content="Aurora Software" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js' ></script>
    <link rel='stylesheet' href='/media/css/main.css'></script>
    <script type="text/javascript" src="/main4.js"></script>
    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34447082-1']);
    _gaq.push(['_trackPageview']);

    (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

</script>
  </head>
  <body>
    <div id='bar1' class='bar'>
      <div class='wrapper'>
        <a href='/'><img src='/media/img/logo.fw.png' /></a>
      </div>
    </div>
    <div id='bar2' class='bar'></div>
    <div id='bar3' class='bar'></div>
    <div id='bar4' class='bar'></div>
    <div id='bar5' class='bar'></div>
    <div id='content'>
      {{ content }}
    </div>
  </body>
</html>
